@import "../../styles/general";

.item-type {
  border-bottom: 1px solid $border-color;
  padding: 1rem 0 1rem 1rem;
}

.item-type__name {
  font-size: 3rem;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: $small-screen-width) {
  .item-type {
    width: $small-screen-content-width;
  }
}
