#* @implicitly included *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="currentUser" type="com.bhegstam.user.domain.User" *#
#* @vtlvariable name="errorMessage" type="java.lang.String" *#
#* @vtlvariable name="itemTypes" type="java.util.List<com.bhegstam.itemtype.controller.ItemTypeBean>" *#
#* @vtlvariable name="msg" type="com.bhegstam.webutil.MessageBundle" *#
#* @vtlvariable name="users" type="java.util.List<com.bhegstam.user.controller.UserBean>" *#
