@import '../../styles/general';

.shopping-list-item {
  border-bottom: 1px solid $border-color;
  font-size: 1.5rem;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &--in-cart {
    background-color: $item-selected-color;
  }
}

.shopping-list-item__quantity {
  padding: 10px;
}

.shopping-list-item__name {
  padding: 10px;
}

.shopping-list-item__buttons {
  color: white;
  display: flex;
  justify-content: space-between;

  height: 75%;
  width: 10%;

  margin-right: 10px;
}

%button {
  @extend %base-button;

  font-size: 2rem;
  width: 45%;
}

.shopping-list-item__inc-button {
  @extend %button;
  background: green;
}

.shopping-list-item__dec-button {
  @extend %button;
  background: red;
  padding-bottom: 5%; // Required to center minus vertically
}