@import '../../styles/general';

.shopping-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
      "name button"
      "items items"
      "add-item add-item";
}

.shopping-list__name {
  grid-area: name;
  align-self: center;
  font-size: 2rem;
  padding-left: 10px;
}

.shopping-list__button {
  @extend %button-danger;
  grid-area: button;
  margin: 10px;
}

.shopping-list__items {
  grid-area: items;
}

.shopping-list__add-item {
  grid-area: add-item;
}