@import '../../styles/general';

.shopping-list-item {
  font-size: 2rem;
  line-height: 4rem;

  & {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
            "main"
            "sub-panel";
  }

  &--in-cart {
    background-color: $item-selected-color;
  }

  &-enter {
    background-color: #777777;
  }

  &-enter-active {
    background-color: white;
    transition: background-color 500ms ease-in;
  }

  &__main {
    grid-area: main;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 10% 1fr 20%;
    grid-template-areas: "quantity name cart-button";
  }

  &__main__quantity {
    grid-area: quantity;

    text-align: center;
  }

  &__main__name {
    grid-area: name;
    justify-self: left;

    width: 100%;
  }

  &__main__cart-button {
    grid-area: cart-button;

    @extend %base-button;
    font-weight: normal;
    font-size: 2.5rem;
    color: black;

    border-radius: 0;
    border-left: 1px solid black;
  }
}
