@import '../../styles/variables';
@import '../../styles/classes';

.shopping-list {
  border: 1px solid $border-color;
  margin-top: 50px;
}

.shopping-list__header {

  &, &--edit {
    background: $background-color;
    display: flex;
    justify-content: space-between;
  }
}

%button {
  @extend %base-button;

  color: white;
  font-weight: bolder;
  margin: 10px;
  padding: 15px;
}

.shopping-list__header__name {
  display: flex;
  align-items: center;
  font-size: 18pt;
  padding-left: 10px;
}

.shopping-list__header__empty-cart-button {
  @extend %button;
  background: $danger-color;
}

.shopping-list__header__name-input {
  font-size: 18pt;
  padding-left: 10px;
}

.shopping-list__header__delete-button {
  @extend %button;
  background: $danger-color;
}