@import '../../styles/general';

.shopping-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
      "name name"
      "items items"
      "cart cart"
      "add-item add-item"
      "empty-cart empty-cart";
}

.shopping-list__name {
  grid-area: name;
  align-self: center;
  font-size: 2rem;
  padding-left: 10px;
}

.shopping-list__items {
  grid-area: items;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.shopping-list__cart {
  grid-area: cart;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.shopping-list__add-item {
  grid-area: add-item;
  align-self: center;

  margin: 0.5rem;
}

.shopping-list__empty-cart-button {
  @extend %button-danger;
  grid-area: empty-cart;
  margin: 0.5rem;
}

@media (max-width: $small-screen-width-breakpoint) {
  .shopping-list__button {
    padding: 2rem 0;
  }
}
