#parse("/velocity/layout.vm")
#@mainLayout()
<div class="container">
    <div class="row">
        #foreach( $shoppingList in $shoppingLists )
            <div class="col-sm-4">
                <a class="btn btn-link btn-block" href="/shopping-list/$shoppingList.id">
                    <h2>
                        $shoppingList.name
                    </h2>
                </a>
            </div>
        #end

        <div class="col-sm-4">
            <div class='add-object-panel btn btn-block' data-toggle="modal" data-target="#createShoppingListModal">
                <h2>+</h2>
            </div>
        </div>
    </div>
</div>

<div id="createShoppingListModal" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="nameInput" class="sr-only">Name</label>
                        <input type="text" id="nameInput" class="form-control" placeholder="Name"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

#end