#macro(mainLayout $scriptModules)
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$msg.get("APPLICATION_NAME")</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css">
    <link rel="stylesheet" href="/css/main.css"/>
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">$msg.get("APPLICATION_NAME")</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav">
                #if($currentUser)
                    <li>
                        <a href="/shopping-list/">Lists</a>
                    </li>

                    #if($currentUser.isAdmin())
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/users">Users</a>
                                </li>
                            </ul>
                        </li>
                    #end
                #else
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                #end

            </ul>

            #if($currentUser)
                <form id="logout-form" style="display:none" action="/logout" method="post"></form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">$currentUser.username</a>
                    </li>
                    <li>
                        <a onclick="document.getElementById('logout-form').submit()">Log out</a>
                    </li>
                </ul>
            #end
        </div>
    </div>
</nav>

    #if($errorMessage)
    <div class="container">
        <div class="alert alert-danger fade in">
            <a href="#" data-dismiss="alert" aria-label="close" class="close">&times;</a>
            <strong class="message">$msg.get($errorMessage)</strong>
        </div>
    </div>
    #end

    $bodyContent

</body>

<script src="/scripts/require.js"></script>
<script>
    requirejs.config({
        baseUrl: '/scripts',
        shim: {
            bootstrap: {
                deps: ['jquery']
            }
        },
        paths: {
            bootstrap: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min',
            jquery: 'https://code.jquery.com/jquery-3.2.1.min',
            selectize: 'https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min'
        }
    });

    require(['jquery', 'bootstrap']);

    require(['main']);
    #if($scriptModules)
    require(['$scriptModules']);
    #end
</script>

</html>
#end
