#parse("/velocity/layout.vm")
#@mainLayout()
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <form action="/login" method="post">
                <fieldset class="form-group">
                    <label class="sr-only" for="usernameInput">$msg.get("LOGIN_INPUT_USERNAME")</label>
                    <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Username">
                </fieldset>

                <fieldset class="form-group">
                    <label class="sr-only" for="passwordInput">$msg.get("LOGIN_INPUT_PASSWORD")</label>
                    <input type="password" name="password" class="form-control" id="passwordInput"
                           placeholder="Password">
                </fieldset>

                <button type="submit" class="btn btn-primary">$msg.get("LOGIN_BUTTON_LOGIN")</button>
            </form>

        </div>
    </div>
</div>
#end