#parse("/velocity/layout.vm")
#@mainLayout("app/admin/item-types")
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <ul class="item-types">

                #foreach($itemType in $itemTypes)
                    <li class="item-type" data-id="$itemType.id">
                        <div class="view">
                            <span class="name">
                                $itemType.name
                            </span>

                            <div class="buttons pull-right">
                                <button type="button" class="btn btn-danger btn-item-type-delete">
                                    <span class="glyphicon glyphicon-trash"/>
                                </button>
                            </div>
                        </div>
                    </li>
                #end

            </ul>

        </div>
    </div>
</div>
#end