#parse("/velocity/layout.vm")
#@mainLayout()
<div class="container">
    <ul class="admin-user-list">
        #foreach( $user in $users )
            #set($isCurrentUser = $currentUser.username == $user.username)
            <li class="user-list-item">
                <div class="user-info">
                    <span class="name">$user.username</span>
                </div>
                <div class="user-controls">
                    <select
                    #if($isCurrentUser)
                        disabled
                    #end
                    >
                        #foreach( $role in $user.role.values() )
                            <option
                            #if($user.role == $role)
                                selected
                            #end
                            >$role.name()</option>
                        #end
                    </select>
                    <span>
                        Verified:
                        <input type="checkbox"
                            #if($isCurrentUser)
                               disabled
                            #end
                            #if($user.isVerified())
                               checked
                            #end
                        />
                    </span>
                </div>
            </li>
        #end
    </ul>
</div>
#end