#parse("/velocity/layout.vm")
#@mainLayout("app/admin/user")
<div class="body-content-container">
    <ul class="admin-user-list">
        #foreach( $user in $users )
            #set($isCurrentUser = $currentUser.username == $user.username)
            <li class="user-list-item" data-user-id="$user.id">
                <div class="user-info">
                    <span class="name">$user.username</span>
                </div>
                <div class="user-controls">
                    <select
                            class="user-role-selector"
                        #if($isCurrentUser)
                            disabled
                        #end
                    >
                        #foreach( $role in $user.role.values() )
                            <option
                                #if($user.role == $role)
                                        selected
                                #end
                            >$role.name()</option>
                        #end
                    </select>
                    <span>
                        Verified:
                        <input type="checkbox" class="user-verified-toggle"
                            #if($isCurrentUser)
                               disabled
                            #end
                            #if($user.verified)
                               checked
                            #end
                        />
                    </span>
                </div>
            </li>
        #end
    </ul>
</div>
#end