@user-list-item-radius: 4px;

.body-content-container {
  display: flex;
  justify-content: center;
}

.admin-user-list {
  padding: 0;
  margin: 0 4%;

  width: 100%;
  max-width: 640px;

  .user-list-item {
    display: flex;
    justify-content: space-between;

    border: 1px solid lightgray;
    padding: 1%;

    &:first-of-type {
      border-top-left-radius: @user-list-item-radius;
      border-top-right-radius: @user-list-item-radius;
      border-bottom: none;
    }

    &:last-of-type {
      border-bottom-left-radius: @user-list-item-radius;
      border-bottom-right-radius: @user-list-item-radius;
      border-top: none;
    }

    .user-info {
    }

    .user-controls {
      width: 160px;

      display: flex;
      justify-content: space-between;
    }
  }
}

.add-object-panel {
  border: 3px solid #aaa;
  border-radius: 5px;
  background-color: #ddd;
  color: #666;
}


// SHOPPING LIST ADMIN

@list-radius: 10px;
@base-color: black;

.shopping-list {
  border: 1px solid black;
  border-radius: @list-radius;
  background-color: lighten(@base-color, 100%);

  .name {
    float: left;
    font-weight: bold;
    font-size: 18pt;
  }

  .shopping-list-btns {
    float: right;
  }

  .shopping-list-header {
    padding: 15px 20px 15px 15px;
  }
}


// ITEM TYPES ADMIN

.item-types {
  padding: 0;
  margin: 0;
}

.item-type {
  .basis-list-item;

  .buttons {
    margin: 0 4px 0 0;

    .btn {
      margin: 0 2px;
    }
  }
}

.basis-list-item {
  border: 1px solid black;
  margin: 10px 0 10px 0;
  padding: 20px 0 20px 0;
  list-style-type: none;
  text-align: center;
}


// SHOPPING LIST VIEW

@row-color-odd: lighten(@base-color, 75%);
@row-color-even: lighten(@base-color, 100%);

.shopping-list-items {
  padding: 0;
  margin: 0;
}

.shopping-list-item {
  list-style-type: none;
  padding: 20px 0 20px 0;
  margin: 0;

  &:nth-of-type(odd) {
    background-color: @row-color-odd;
  }

  &:nth-of-type(even) {
    background-color: @row-color-even;
  }

  &:last-of-type {
    border-radius: 0 0 @list-radius @list-radius;
  }

  .item-type-name {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 0 40px;
  }

  .quantity {
    font-size: 12pt;
    font-weight: bold;
    margin: 0 0 0 15px;
  }

  .btn-group {
    margin: 0 20px 0 0;
    font-weight: bold;
  }
}

.in-cart:nth-of-type(n) {
  background-color: #b3e6b3;
}