@import "../styles/general";

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.app-layout {
  display: grid;
  grid-template-columns: $app-layout-grid-template-columns;
  grid-template-areas:
          ". header ."
          ". main .";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

@media (max-width: $small-screen-width-breakpoint) {
  .app-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "main";
  }

  main {
    padding: 0 1vw;
  }
}