@import "../styles/general";

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
}

main {
  display: grid;
  grid-template-columns: $app-layout-grid-template-columns;
}

.main-content {
  grid-column: 2/3;
}

@media (max-width: $small-screen-width) {
  header {
    grid-template-columns: $small-screen-app-layout-grid-template-columns;
  }

  main {
    grid-template-columns: $small-screen-app-layout-grid-template-columns;
  }
}