@import '../styles/general';

header {
  background: $background-color;

  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. name logout';
}

.header {
  &__name {
    grid-area: name;

    align-self: center;
    justify-self: center;

    color: #777;
    font-size: 1.5rem;
    white-space: nowrap;
    text-decoration: none;
  }

  &__logout-button {
    @extend %base-button;
    grid-area: logout;

    width: min-content;
    justify-self: end;

    background: inherit;
    color: red;
    border-radius: 0;
    padding-right: 1.5rem;
  }
}
