#login-form {
  display: flex;
  flex-flow: column;
  margin: 15px 0 0;
}

#login-form input {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: inherit;
  margin: 0 0 15px;
  padding: 6px 12px;
  text-shadow: none;
}

#login-form button {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  color: white;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px;
}
