@import '../styles/general';

$text-color: black;
$hover-background: gray;

%nav-link {
  font-weight: bold;
  font-size: 1rem;
  color: $text-color;

  &:hover {
    background: $hover-background;
  }
}

.navigation {
  height: 100%;

  background: $background-color;
  border-right: 1px solid $border-color;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'links' 'logout';

  &__links {
    grid-area: links;

    display: grid;
    grid-template-columns: 1fr;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        text-decoration: none;
        display: inline-block;
        width: 90%;
        padding-left: 10%;
        line-height: 4rem;

        @extend %nav-link;
      }
    }
  }

  &__link {
    &--active {
      background: $hover-background;
    }
  }

  &__logout {
    grid-area: logout;
    align-self: end;

    button {
      @extend %base-button;
      @extend %nav-link;

      background: inherit;
      color: red;
      width: 100%;
      border-radius: 0;
    }
  }
}

@media (max-width: $small-screen-width-breakpoint) {
  .navigation {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'links logout';

    &__links {
      ul li {
        display: inline;

        a {
          line-height: $small-screen-navigation-height;
          padding: 0 2rem;
          width: unset;
        }
      }
    }

    &__logout {
      align-self: unset;

      button {
        height: unset;
      }
    }
  }
}